/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    background-color: #FFEDC0;
    color: #34140e;
}

#opener-hr{
  margin-top: 1.3rem;
  margin-bottom: 0.2rem;
  border-color: #34140e;
  border-width: 0.1rem;
  grid-column: 1 / -1;
}

#closer-hr{
  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
  border-color: #34140e;
  border-width: 0.1rem;
  grid-column: 1 / -1;
}

button{
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-radius: 0.6rem;
  padding: 0.5rem;
  width: 100%;
  outline-width: 0;
}

input[type="reset"] {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

input[type="radio"] {
  height: 1.5rem;
  width: 1.5rem;
}

input[type="checkbox"] {
  accent-color: #e3ba66;
  border: 1px solid #FFEDC0;
}

#form-btns{
  display: flex;
  gap: 1.5rem;
  justify-self: right;
}

#form-btns button{
  padding: 0.5rem 1.5rem
}

.form-group{
  display: grid;
  margin-top: 0rem;
  grid-column: 1 / -1;
}

.radio {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.1rem;
  accent-color:#34140e;
}

#radio-div{
  display: flex;
  gap: 1.2rem;
}

#radio-btns-div{
  display: flex;
  gap: 1rem;
}

#radio-form-group{
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  justify-content: space-between;
  margin-top: 0.7rem;
}

#radio-organizer{
  display: flex;
  gap: 1rem;
}

#container{
  margin-left: 10rem;
  margin-top: 4rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
}

#header{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 0.3rem;
}

#ctrl-btns button{
  font-size: 1.2rem;
  padding: 0.2rem 1.4rem;
}

#ctrl-btns {
  display: flex;
  gap: 1rem;
}

#form-toggler,
#book-adder{
  background-color: #598DFF;
  color: #FFEDC0;
}

#form-toggler:hover,
#book-adder:hover{
  background-color: #729fff;
}

#form-toggler:disabled{
  background-color: #c1c8da;
}

#form-toggler:disabled:hover{
  cursor:default;
}

#form-closer-btn,
#form-resetter {
  background-color: #e3ba66
}

#form-resetter:hover,
#form-closer-btn:hover {
  background-color: #e2c281;
}

#clear-library{
  background-color: #e04217;
  color: #FFEDC0;
}

#clear-library:hover{
  background-color: #ff7f5c;
}

#form-closer-btn {
  grid-area: 1 / 2 / 2 / -1;
  padding: 0.3rem 2.1rem;
  width: min-content;
  justify-self: end;
}

#form-manipule {
  grid-area: 1 / 1 / 2 / 2;
}

img{
  width: 6rem;
  min-width: 3rem;
  justify-self: right;;
  border-radius: 1.2rem;
  transform: rotateY(180deg);
}

#title{
    font-weight: bold;
    font-size: 2.2rem;
}

#subtitle{
    font-style: italic;
    font-size: 1.2rem;
    justify-self: right;
    align-self:flex-start;
    background-color: #e3ba66;
    border-radius: 0.6rem;
    padding: 0.1rem 0.5rem;
}

#title-n-btns{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-btns {
  filter: brightness(0) saturate(100%) invert(99%) sepia(51%) saturate(1224%) hue-rotate(311deg) brightness(104%) contrast(101%);
  width: 1rem;
}

.delete-btns {
  filter: brightness(0) saturate(100%) invert(99%) sepia(51%) saturate(1224%) hue-rotate(311deg) brightness(104%) contrast(101%);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
}

.delete-book-btn {
  border-radius: 1rem;
}

.title{
  font-size: 1rem;
  font-weight: bold;
}

.author{
  font-size: 0.9rem;
  font-style: italic;
}

#book-form{
  display: grid;
  grid-template-columns: 6fr 1fr;
}

#book-title-div{
  margin-bottom: 1rem;
}

#book-title{
  margin-bottom: 0.7rem;
}

#book-status{
  margin-top: 0.8rem;
}

.book-div{
  display: grid;
  grid-template-columns: 15fr 1fr 1fr;
  padding: 0.8rem;
  background-color: #E5D4AA;
  border-radius: 1rem;
}

.book-div button{
  background-color: #b9a676;
  color: #FFEDC0;
  padding: 0.2rem;
}

.book-div button:hover{
  background-color: #ff8c6d;
}

.book-span {
  display: flex;
  align-items: baseline;
}

.hover-check {
  display: none;
}

#library{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.6rem;
}

#empty-library-message {
  color: #34140e;
  font-size: 1.7rem;
}
